
<form accept-charset="UTF-8" action="/users" method="post" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]"><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form>